body{
    background-color: #006080;
}

.container{
    width:600px;
    background-color: #0099cc;
    display:flex;
    flex-direction: column;
    margin:auto;
    box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.container-1, .container-2{

}

.title {
    text-align: center;
    color: white;
    border: black 2px solid;
}

.menu{
    width:500px;
    height:100px;
    border: blue 2px solid;
    margin:auto;
    display: flex;
    justify-content: center;

}

.menu .option{
    border: gray 2px solid;
    width: 80px;
    height:40px;
    margin:auto;
    display: flex;
    text-align: center;
    background-color: #333333;
}

.menu .start{
    cursor: pointer;
}

.menu .on-off,
.menu .strict{
    display: block;
}

.option p{
    border: blue 2px solid;
    margin:auto;
    color:white;
}


.board{
    position: relative;
    border: black 10px solid;
    height:500px;
    width:500px;
    margin-top: 5%;
    border-radius: 100%;
    box-sizing: border-box;
    margin:auto;
    box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.board .wrong-ans{
    z-index: -1;
    position: absolute;
    width:200px;
    height:150px;
    top:50%;
    left:50%;
    margin-top:-75px;
    margin-left:-100px;
    display: flex;
    border: black 5px solid;
    background-color: #e60000;
}

.wrong-ans p{
    margin:auto;
    text-align: center;
    font-size:300%;
}

.board .color{
    width:50%;
    height:50%;
    float:left;
    box-sizing: border-box;

}

.color-1{ /*green*/
    border-radius: 100% 0 0 0;
    background-color: #008000;
    transition: 0.2s;
}

.color-2{ /*red*/
    border-radius: 0 100% 0 0;
    background-color: #990000;
}

.color-3{ /*yellow*/
    border-radius: 0 0 0 100%;
    background-color: #999900;
}

.color-4{ /*blue*/
    border-radius: 0 0 100% 0;
    background-color: #000099;
}

.color-1-press{ /*green*/
    background-color: #00ff00;
}

.color-2-press{ /*red*/
    background-color: #ff0000;
}

.color-3-press{ /*yellow*/
    background-color: #ffff00;
}

.color-4-press{ /*blue*/
    background-color: #0000ff;
}

/*//-----button effect--------//*/
.start p{
    width:80%;
  margin:auto;
}
.menu .start{
    display:flex;
    margin:auto;
	background-color:#ff4000;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	color:#fff;
	position:relative;
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px  #b32d00, 0px 5px 0px 0px  #b32d00, 0px 10px 5px #999;
}

.menu .start:active{
	top:3px;
	box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #322620, 0px 5px 3px #999;
}
/*//-------------toggle switch---------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 15px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}



input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
